@keyframes backgroundRotation {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes cases-plane {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes appear-up {
  0% {
    transform: translateY(100%);
    visibility: hidden;
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    visibility: visible;
    opacity: 1;
  }
}

@keyframes appear-left {
  0% {
    transform: translateX(-100%);
    visibility: hidden;
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    visibility: visible;
    opacity: 1;
  }
}

@keyframes plane-flight {
  0% {
    transform: translateX(-120%);
  }

  25% {
    transform: translateX(0);
  }

  70% {
    rotate: 0deg;
    transform: translate(0, 0);
  }

  100% {
    rotate: -55deg;
    transform: translateY(-8%) translateX(180%);
  }
}