@mixin props-for-background-rotation {
  content: "";
  z-index: 2;
  width: 1400px;
  height: 1400px;
  position: absolute;
  display: block;
  opacity: 0;
  visibility: hidden;
  transition: all 0.4s ease;
  animation: backgroundRotation 30s infinite linear;
}

@mixin text-fill-color {
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  background-blend-mode: screen, difference, normal;
}

@mixin transition($time: 0.4s) {
  transition: all $time ease;
}

@mixin reset-btn {
  margin: 0;
  padding: 0;
  background-color: transparent;
  border: none;
}

@mixin reset-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin reset-link {
  color: unset;
  text-decoration: none;
}
