.cases {
  width: 100%;
  height: 480px;
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
  margin-bottom: 150px;
  @include transition(1.5s);
  transform: translateX(-100%);
  opacity: 0;
  display: flex;
  justify-content: space-between;

  @media screen and (max-width: 1439px) {
    height: 401px;
  }

  @media screen and (max-width: 1023px) {
    height: 796px;
    margin-bottom: 80px;
  }

  &_shown {
    transform: translateX(0);
    opacity: 1;
  }

  &__card {
    width: calc(100% - 72px);
    height: 100%;
    display: flex;
    border: 3px solid #000000;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    box-sizing: border-box;

    @media screen and (max-width: 1023px) {
      flex-direction: column;
    }
  }

  &__left {
    padding: 32px 35px;
    width: 361px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @media screen and (max-width: 1439px) {
      padding-left: 25px;
      padding-top: 25px;
      width: 250px;
    }

    @media screen and (max-width: 1023px) {
      width: 55%;
      padding-bottom: 22px;
    }

    @media screen and (max-width: 767px) {
      width: 100%;
      max-width: 250px;
    }
  }

  &__title {
    font-size: 48px;
    font-weight: 500;
    line-height: normal;
    margin: 0 0 25px;

    @media screen and (max-width: 1439px) {
      font-size: 46px;
    }

    @media screen and (max-width: 1023px) {
      font-size: 36px;
    }

    @media screen and (max-width: 767px) {
      font-size: 24px;
    }
  }

  &__title-txt {
    font-size: 14px;
    font-weight: 300;
    line-height: 180%;
    max-width: 238px;
    margin: 0;
  }

  &__contact {
    @include reset-btn;
    height: 50px;
    border-radius: 10px;
    border: 1px solid #000;
    background: #fff;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    cursor: pointer;
    @include transition;

    &:hover {
      background-color: #000;
      color: #fff;
      box-shadow: none;
    }
  }

  &__navigation {
    @include reset-list;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__nav-btn {
    @include reset-btn;
    width: 52px;
    height: 52px;
    border-radius: 10px;
    background: #d9d9d9;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 24px;
    font-weight: 600;
    line-height: 100%;
    cursor: pointer;
    @include transition;

    &_1 {
      background: linear-gradient(103deg, #5f4632 24.34%, #a58c6d 99.73%);
    }
  }

  &__right {
    height: 100%;
    flex-grow: 1;
    position: relative;
    background-color: #000;
  }

  &__content {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 35px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    @include transition(1s);
    opacity: 0;
    visibility: hidden;
    transform: translateY(-100%);

    &_active {
      opacity: 1;
      visibility: visible;
      transform: translateY(0);
    }

    &_1 {
      background: linear-gradient(103deg, #5f4632 24.34%, #a58c6d 99.73%);
    }
  }

  &__content-box {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__img {
    width: 399px;
    height: 235px;
    object-fit: cover;
    display: block;
  }

  &__container {
    width: 338px;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 19px;
  }

  &__txt-box {
    width: 100%;
    flex-grow: 1;
    border-radius: 10px;
    background: #fff;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    box-sizing: border-box;
    padding: 28px 42px 28px 32px;
  }

  &__subtitle {
    font-size: 36px;
    font-weight: 700;
    background: linear-gradient(103deg, #5f4632 24.34%, #a58c6d 99.73%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 0;
  }

  &__txt {
    color: #000;
    font-size: 14px;
    font-weight: 400;
    line-height: 120%; /* 16.8px */
    margin: 28px 0 39px;

    &_bold {
      font-weight: 600;
      margin: 0 0 18px;
    }
  }

  &__techs {
    @include reset-list;
    display: flex;
    row-gap: 14px;
    column-gap: 29px;
    flex-wrap: wrap;
  }

  &__techs-img {
    width: 30px;
    height: 30px;
    display: block;
    object-fit: cover;
  }

  &__link {
    @include reset-btn;
    @include reset-link;
    color: #000;
    width: 100%;
    height: 50px;
    border-radius: 10px;
    border: 1px solid #000;
    background: #fff;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
