.cases {
  width: 100%;
  height: 480px;
  box-sizing: border-box;
  border: 3px solid #000000;
  border-radius: 10px;
  position: relative;
  overflow: hidden;

  &__card {
    width: 100%;
    height: 100%;
    display: flex;
  }

  &__left {
    margin-top: 35px;
    margin-left: 52px;
    width: 264px;
  }

  &__title {
    font-size: 48px;
    font-weight: 500;
    line-height: normal;
    margin: 0 0 25px;
  }

  &__txt {
    font-size: 14px;
    font-weight: 300;
    line-height: 180%;
    margin: 0;
  }

  &__list {
    height: 100%;
    flex-grow: 1;
    overflow: hidden;
    position: relative;
    z-index: 4;
  }

  &__item {
    position: absolute;
    top: 0;
    right: 0;
    width: 847px;
    height: 100%;
    margin-left: 46px;
    background-color: #000;
    border-radius: 0px 10px 10px 0px;
    @include transition(2s);
    opacity: 1;
    visibility: visible;

    &_active {
      right: 72px;
    }

    &_shown {
      right: 72px;
      transform: translateX(-120%);
    }

    &_some {
      background: url(../images/bg-some-case.jpg) no-repeat;
    }

    &_some2 {
      background: url(../images/bg-some-case2.jpg) no-repeat;
    }

    &_some3 {
      background: aqua;
    }

    &_eagle {
      background: url(../images/bg-eagle.jpg) no-repeat;
    }
  }

  &__img {
    display: block;
    position: absolute;
    @include transition;

    &_eagle {
      top: 106px;
      left: -37px;
      animation: cases-plane 2s ease;
    }
  }

  &__content {
    width: 290px;
    position: absolute;
    top: 55px;
    right: 75px;
  }

  &__subtitle {
    color: #FFF;
    font-size: 36px;
    font-weight: 700;
    line-height: 89%;
    margin: 0;
  }

  &__brief {
    color: #FFF;
    font-size: 16px;
    font-weight: 500;
    line-height: 170.5%;
    margin: 49px 0 30px;
  }

  &__type {
    color: #FFF;
    font-size: 14px;
    font-weight: 250;
    line-height: 100%;
    margin: 0;
    max-width: 203px;
  }

  &__links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 45px;
  }

  &__qr {
    width: 84px;
    height: 84px;
    object-fit: cover;
    display: block;
  }

  &__link {
    color: #FFF;
    font-size: 20px;
    font-weight: 500;
    line-height: 89%;
    text-decoration-line: underline;
    @include transition;

    &:hover {
      opacity: .7;
    }
  }

  &__button {
    height: 100%;
    width: 65px;
    position: absolute;
    top: 0;
    right: 0;
    overflow: hidden;
    z-index: 10;

    &:hover {
      .cases__arrow {
        right: 10px;
      }
    }
  }

  &__arrow {
    width: 14px;
    height: 14px;
    display: block;
    border-right: 3px solid #000;
    border-bottom: 3px solid #000;
    border-radius: 2px;
    transform: rotate(-45deg) translateY(-50%);
    position: absolute;
    top: 50%;
    right: 21px;
    z-index: 3;
    @include transition;

    &_white {
      border-color: #fff;
    }
  }
}