.header {
  width: 100%;

  &__top {
    display: flex;
    width: 100%;
    height: 70px;
    border-bottom: 4px solid #000000;

    @media screen and (max-width: 767px) {
      height: 58px;
    }
  }

  &__live {
    min-width: 224px;
    height: 100%;
    background-color: #000;
    box-sizing: border-box;
    padding: 18px 34px 18px 25px;

    @media screen and (max-width: 767px) {
      padding: 6px 0 0 0;
      min-width: 110px;
    }
  }

  &__txt {
    margin: 0;
    font-weight: 900;
    font-size: 14px;
    line-height: 17px;
    text-align: right;
    color: #fff;

    @media screen and (max-width: 767px) {
      font-size: 12px;
      max-width: 95px;
    }
  }

  &__marquee {
    display: flex;
    align-items: center;
    flex-grow: 1;
    overflow: hidden;
  }

  &__marquee-list {
    display: flex;
    gap: 86px;
    margin-right: 86px;

    @media screen and (max-width: 767px) {
      gap: 18px;
      margin-right: 18px;
    }
  }

  &__marquee-item {
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;

    @media screen and (max-width: 767px) {
      font-size: 12px;
    }
  }

  &__marquee-line {
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
  }

  &__menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 90px;
    @include transition(0.8s);
    position: fixed;
    top: 0;
    left: 50%;
    background-color: #fff;
    margin: 0 auto;
    padding: 15px 40px;
    box-sizing: border-box;
    z-index: 120;
    overflow: hidden;
    opacity: 0;
    visibility: hidden;
    transform: translateY(-54px) translateX(-50%);

    @media screen and (max-width: 767px) {
      align-items: flex-start;
      height: 54px;
      margin: 0;
      right: 0;
      left: 0;
      bottom: 0;
      transform: translateY(-54px);
      padding-left: 20px;
      padding-right: 20px;
    }

    &_shown {
      opacity: 1;
      visibility: visible;
      transform: translateY(0) translateX(-50%);

      @media screen and (max-width: 767px) {
        transform: translateY(0);
      }
    }

    &_opened {
      @media screen and (max-width: 767px) {
        height: 100vh;
      }
    }
  }

  &__logo {
    display: block;
    width: 50px;
    object-fit: cover;

    @media screen and (max-width: 767px) {
      width: 34px;
    }
  }

  &__menu-list {
    display: flex;
    flex-grow: 1;
    justify-content: space-evenly;

    @media screen and (max-width: 767px) {
      flex-direction: column;
      flex-grow: unset;
      align-items: center;
      gap: 29px;
      position: absolute;
      top: 123px;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  &__menu-link {
    padding: 5px;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;

    @media screen and (max-width: 1023px) {
      font-size: 14px;
    }
  }

  &__button {
    width: 249px;
    height: 50px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000;
    cursor: pointer;
    overflow: hidden;
    position: relative;

    @media screen and (max-width: 1439px) {
      width: 226px;
      height: 45px;
    }

    @media screen and (max-width: 1023px) {
      width: 185px;
    }

    @media screen and (max-width: 767px) {
      display: none;
    }

    &::after {
      content: "";
      display: block;
      position: absolute;
      width: 1440px;
      height: 900px;
      background: url(../assets/images/bg-development.jpg) no-repeat center /
        cover;
      animation: backgroundRotation 20s infinite linear;
    }
  }

  &__button-txt {
    position: relative;
    z-index: 2;
    margin: 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
  }

  &__hamburger {
    background-color: transparent;
    border: none;
    padding: 0;
    margin: 0;
    display: none;
    @include transition;

    @media screen and (max-width: 767px) {
      display: block;
      width: 30px;
      height: 30px;
      background: url(../assets/images/hamburger.svg) no-repeat center / contain;

      &_opened {
        background-image: url(../assets/images/close-icon-black.svg);
      }
    }
  }

  &__info {
    display: none;

    @media screen and (max-width: 767px) {
      display: block;
      position: absolute;
      top: 373px;
      left: 50%;
      transform: translateX(-50%);
      width: 214px;
      display: flex;
      flex-direction: column;
      gap: 10px;
    }
  }

  &__info-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 40px;
    color: #fff;
    background-color: #000;
    border-radius: 5px;
    font-size: 12px;
    font-weight: 500;
  }

  &__socials {
    display: flex;
    justify-content: space-between;
    height: 52px;
  }

  &__socials-link {
    display: block;
    height: 100%;
    aspect-ratio: 1/1;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000;
    border-radius: 5px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 26px;

    &_whatsapp {
      background-image: url(../assets/images/whatsapp-icon.svg);
    }

    &_telegram {
      background-image: url(../assets/images/telegram-icon.svg);
    }

    &_vk {
      background-image: url(../assets/images/vk-icon.svg);
    }
  }
}
