.header {
  width: 100%;

  &__top {
    display: flex;
    width: 100%;
    height: 70px;
    border-bottom: 4px solid #000000;
  }

  &__live {
    min-width: 224px;
    height: 100%;
    background-color: #000;
    box-sizing: border-box;
    padding: 18px 34px 18px 25px;
  }

  &__txt {
    margin: 0;
    font-weight: 900;
    font-size: 14px;
    line-height: 17px;
    text-align: right;
    color: #fff;
  }

  &__marquee {
    display: flex;
    align-items: center;
    flex-grow: 1;
    overflow: hidden;
  }

  &__marquee-list {
    display: flex;
    gap: 86px;
    margin-right: 86px;
  }

  &__marquee-item {
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
  }

  &__marquee-line {
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
  }

  &__menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: var(--content-width);
    margin: 30px auto;
  }

  &__logo {
    display: block;
    width: 50px;
    object-fit: cover;
  }

  &__menu-list {
    display: flex;
    flex-grow: 1;
    justify-content: space-evenly;
  }

  &__menu-link {
    padding: 5px;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
  }

  &__button {
    width: 249px;
    height: 50px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000;
    cursor: pointer;
    overflow: hidden;
    position: relative;

    @media screen and (max-width: 1439px) {
      width: 226px;
    }

    &::after {
      content: '';
      display: block;
      position: absolute;
      width: 1440px;
      height: 900px;
      background: url(../images/bg-development.jpg) no-repeat center / cover;
      animation: backgroundRotation 20s infinite linear;
    }
  }

  &__button-txt {
    position: relative;
    z-index: 2;
    margin: 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
  }
}
