.home {
  display: grid;
  width: 1136px;
  margin: 0 auto 200px;
  gap: 20px;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 268px;
  animation: appear-up 1.5s ease;

  @media screen and (max-width: 1439px) {
    grid-auto-rows: 251px;
    gap: 15px;
    width: 100%;
  }

  @media screen and (max-width: 1023px) {
    grid-template-areas:
      'logo contacts-plates'
      'services cases'
      'about contacts'
      'consult consult';
    grid-template-columns: repeat(2, minmax(150px, 269px));
    justify-content: center;
    margin-bottom: 0;
  }

  @media screen and (max-width: 767px) {
    grid-template-columns: repeat(2, 145px);
    grid-template-rows: repeat(3, 135px) 347px;
    gap: 10px;
  }

  &__logo {
    display: block;
    width: 100%;
    height: 100%;

    @media screen and (max-width: 1023px) {
      grid-area: logo;
    }
  }

  &__logo-img {
    display: block;
    width: 100%;
    height: 100%;
  }

  &__link {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000;
    border-radius: 10px;
    transition: all .4s ease;
    position: relative;
    overflow: hidden;

    &_services {

      @media screen and (max-width: 1023px) {
        grid-area: services;
      }

      .home__link-txt {
        background: var(--color-services-home);
        @include text-fill-color;
      }

      &::after {
        @include props-for-background-rotation;
        background: url(../images/bg-development.jpg) no-repeat center;
      }

      &:hover {
        &::after {
          visibility: visible;
          opacity: 1;
        }
      }

      &:hover .home__link-txt {
        -webkit-text-fill-color: #000;
      }
    }

    &_cases {

      @media screen and (max-width: 1023px) {
        grid-area: cases;
      }

      .home__link-txt {
        background: var(--color-cases-home);
        @include text-fill-color;
      }

      &::after {
        @include props-for-background-rotation;
        background: url(../images/bg-promotion.jpg) no-repeat center;
      }

      &:hover {
        &::after {
          visibility: visible;
          opacity: 1;
        }
      }

      &:hover .home__link-txt {
        -webkit-text-fill-color: #000;
      }
    }

    &_about {

      @media screen and (max-width: 1023px) {
        grid-area: about;
      }

      .home__link-txt {
        background: var(--color-about-home);
        @include text-fill-color;
      }

      &:hover .home__link-txt {
        -webkit-text-fill-color: #000;
      }

      &::after {
        @include props-for-background-rotation;
        background: url(../images/bg-bots.jpg) no-repeat center;
      }

      &:hover {
        &::after {
          visibility: visible;
          opacity: 1;
        }
      }
    }

    &_contacts {
      @media screen and (max-width: 1023px) {
        grid-area: contacts;
      }
    }
  }

  &__link-txt {
    color: #fff;
    font-weight: 500;
    font-size: 32px;
    line-height: 40px;
    margin: 0;
    text-transform: uppercase;
    transition: all .4s ease;
    position: relative;
    z-index: 3;

    @media screen and (max-width: 1439px) {
      font-size: 29px;
    }

    @media screen and (max-width: 767px) {
      font-size: 18px;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    gap: 20px;

    @media screen and (max-width: 767px) {
      gap: 10px;
    }
  }

  &__info-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 76px;
    background-color: #000;
    color: #fff;
    border-radius: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;

    @media screen and (max-width: 1439px) {
      height: 70px;
    }

    @media screen and (max-width: 767px) {
      font-size: 10px;
      height: 38px;
    }
  }

  &__socials {
    display: flex;
    justify-content: space-between;
  }

  &__socials-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 76px;
    height: 76px;
    background-color: #000;
    color: #fff;
    border-radius: 10px;

    @media screen and (max-width: 1439px) {
      height: 70px;
      width: 70px;
    }

    @media screen and (max-width: 767px) {
      height: 38px;
      width: 38px;
    }
  }

  &__socials-icon {
    width: 32px;
    height: 32px;
    object-fit: cover;
    display: block;

    @media screen and (max-width: 767px) {
      width: 18px;
      height: 18px;
    }
  }

  &__form {
    grid-column: span 2;
    background: #000000;
    border-radius: 10px;
    width: 100%;
    height: 100%;
    color: #fff;
    box-sizing: border-box;
    padding: 20px 20px 26px;
    display: flex;
    justify-content: space-between;

    @media screen and (max-width: 1023px) {
      grid-area: consult;
    }

    @media screen and (max-width: 767px) {
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  }

  &__form-left {
    width: 224px;
  }

  &__form-title {
    margin: 0 0 22px;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 32px;
    line-height: 40px;

    @media screen and (max-width: 1439px) {
      font-size: 27px;
      line-height: 30px;
    }

    @media screen and (max-width: 767px) {
      font-size: 16px;
      line-height: normal;
      margin-bottom: 11px;
      text-align: center;
    }
  }

  &__form-txt {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    margin: 0;

    @media screen and (max-width: 1439px) {
      font-size: 14px;
      line-height: 21px;
    }

    @media screen and (max-width: 767px) {
      font-size: 14px;
      font-weight: 300;
      line-height: normal;
      margin-bottom: 8px;
      text-align: center;
    }
  }

  &__form-right {
    width: 249px;
    border: none;
    padding: 0;
    margin: 0;
  }

  &__form-input {
    width: 100%;
    height: 49px;
    background: #FFFFFF;
    border-radius: 10px;
    border: none;
    margin-bottom: 20px;
    padding-left: 20px;
    box-sizing: border-box;

    @media screen and (max-width: 767px) {
      margin-bottom: 10px;
      border-radius: 5px;
      height: 45px;
      font-size: 12px;
    }

    &:focus-visible {
      outline: none;
    }

    &::placeholder {
      color: #A5A5A5;
    }
  }

  &__form-politics {
    font-weight: 250;
    font-size: 10px;
    line-height: 100%;
    color: #3E3E3E;
    margin-top: 14px;

    @media screen and (max-width: 767px) {
      display: none;
    }
  }

  &__button {
    width: 249px;
    height: 50px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000;
    cursor: pointer;
    overflow: hidden;
    position: relative;

    @media screen and (max-width: 767px) {
      font-size: 16px;
      height: 45px;
      border-radius: 5px;
    }

    &::after {
      content: '';
      display: block;
      position: absolute;
      width: 1440px;
      height: 900px;
      background: url(../images/bg-development.jpg) no-repeat center / cover;
      animation: backgroundRotation 20s infinite linear;
    }
  }

  &__button-txt {
    position: relative;
    z-index: 2;
    margin: 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
  }
}