.services {
  width: 100%;
  min-height: 480px;
  box-sizing: border-box;
  border: 3px solid #000000;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  margin-bottom: 150px;
  @include transition(1.5s);
  transform: translateX(-100%);
  opacity: 0;

  @media screen and (max-width: 1439px) {
    min-height: unset;
  }

  @media screen and (max-width: 1023px) {
    margin-bottom: 80px;
  }

  @media screen and (max-width: 767px) {
    border-radius: 5px;
    min-height: 798px;
  }

  &_shown {
    transform: translateX(0);
    opacity: 1;
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 20px;

    @media screen and (max-width: 1023px) {
      padding: 15px;
    }

    @media screen and (max-width: 767px) {
      flex-direction: column;
      padding: 23px 13px;
    }
  }

  &__info {
    width: 400px;
    margin-top: 48px;
    margin-left: 52px;

    @media screen and (max-width: 1439px) {
      margin-left: 0;
      margin-top: 13px;
      width: 291px;
    }

    @media screen and (max-width: 1023px) {
      width: 192px;
    }

    @media screen and (max-width: 767px) {
      margin-top: 0;
      width: 100%;
      margin-bottom: 40px;
    }
  }

  &__title {
    font-weight: 500;
    font-size: 48px;
    line-height: 60px;
    margin: 0 0 46px;

    @media screen and (max-width: 1439px) {
      font-size: 40px;
    }

    @media screen and (max-width: 1023px) {
      font-size: 24px;
      line-height: 32px;
      margin-bottom: 24px;
    }

    @media screen and (max-width: 767px) {
      margin-bottom: 22px;
    }

    &_white {
      color: #fff;
      margin-bottom: 111px;

      @media screen and (max-width: 1439px) {
        margin-bottom: 40px;
      }
    }
  }

  &__txt {
    font-weight: 300;
    font-size: 14px;
    line-height: 180%;
    margin: 0;

    @media screen and (max-width: 1023px) {
      font-size: 11px;
      line-height: 175%;
    }

    @media screen and (max-width: 767px) {
      font-size: 12px;
    }

    &_white {
      color: #fff;
      max-width: 264px;
    }

    &_complete {
      @media screen and (max-width: 767px) {
        font-size: 15px;
      }
    }
  }

  &__content {
    display: grid;
    grid-template-columns: repeat(3, 211px);
    grid-template-rows: repeat(2, 211px);
    gap: 17px;

    @media screen and (max-width: 1439px) {
      grid-template-columns: repeat(3, 194px);
      grid-template-rows: repeat(2, 194px);
    }

    @media screen and (max-width: 1023px) {
      grid-template-columns: repeat(3, 150px);
      grid-template-rows: repeat(2, 150px);
    }

    @media screen and (max-width: 767px) {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: unset;
      grid-auto-rows: 1fr;
      gap: 10px;
    }
  }

  &__item {
    width: 100%;
    height: 100%;
  }

  &__link {
    padding: 32px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    color: #000;
    background-color: #000;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    cursor: pointer;

    @media screen and (max-width: 1439px) {
      padding: 24px;
    }

    @media screen and (max-width: 1023px) {
      padding: 20px;
    }

    @media screen and (max-width: 767px) {
      padding: 11px 13px;
    }

    &_development {
      .services__link-txt {
        background: var(--color-development);
        @include text-fill-color;
      }

      &:hover .services__link-txt {
        -webkit-text-fill-color: #000;
      }

      &::after {
        @include props-for-background-rotation;
        background: url(../assets/images/bg-development.jpg) no-repeat center;
      }

      &:hover {
        &::after {
          visibility: visible;
          opacity: 1;
        }
      }
    }

    &_promotion {
      .services__link-txt {
        background: var(--color-promotion);
        @include text-fill-color;
      }

      &:hover .services__link-txt {
        -webkit-text-fill-color: #000;
      }

      &::after {
        @include props-for-background-rotation;
        background: url(../assets/images/bg-promotion.jpg) no-repeat center;
      }

      &:hover {
        &::after {
          visibility: visible;
          opacity: 1;
        }
      }
    }

    &_design {
      .services__link-txt {
        background: var(--color-design);
        @include text-fill-color;
      }

      &:hover .services__link-txt {
        -webkit-text-fill-color: #000;
      }

      &::after {
        @include props-for-background-rotation;
        background: url(../assets/images/bg-design.jpg) no-repeat center;
      }

      &:hover {
        &::after {
          visibility: visible;
          opacity: 1;
        }
      }
    }

    &_production {
      .services__link-txt {
        background: var(--color-production);
        @include text-fill-color;
      }

      &:hover .services__link-txt {
        -webkit-text-fill-color: #000;
      }

      &::after {
        @include props-for-background-rotation;
        background: url(../assets/images/bg-production.jpg) no-repeat center;
      }

      &:hover {
        &::after {
          visibility: visible;
          opacity: 1;
        }
      }
    }

    &_bots {
      .services__link-txt {
        background: var(--color-bots);
        @include text-fill-color;
      }

      &:hover .services__link-txt {
        -webkit-text-fill-color: #000;
      }

      &::after {
        @include props-for-background-rotation;
        background: url(../assets/images/bg-bots.jpg) no-repeat center;
      }

      &:hover {
        &::after {
          visibility: visible;
          opacity: 1;
        }
      }
    }

    &_mobile {
      .services__link-txt {
        background: var(--color-mobile);
        @include text-fill-color;
      }

      &:hover .services__link-txt {
        -webkit-text-fill-color: #000;
      }

      &::after {
        @include props-for-background-rotation;
        background: url(../assets/images/bg-mobile.jpg) no-repeat center;
      }

      &:hover {
        &::after {
          visibility: visible;
          opacity: 1;
        }
      }
    }
  }

  &__link-txt {
    display: block;
    width: 100%;
    height: 100%;
    color: #fff;
    margin: 0;
    transition: all .4s ease;
    position: relative;
    z-index: 3;
    font-weight: 700;
    font-size: 36px;
    line-height: 100%;

    @media screen and (max-width: 1439px) {
      font-size: 34px;
    }

    @media screen and (max-width: 1023px) {
      font-size: 26px;
    }

    @media screen and (max-width: 374px) {
      font-size: 24px;
    }
  }

  &__card {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    z-index: 3;
    transition: all 1s ease;
    transform: translateX(100%);

    &_active {
      transform: translateX(0);
    }

    @media screen and (max-width: 767px) {
      flex-direction: column;
    }
  }

  &__card-left {
    box-sizing: border-box;
    padding-top: 41px;
    padding-left: 52px;
    height: 100%;
    width: 558px;
    background-color: #000;

    @media screen and (max-width: 1439px) {
      width: 410px;
      padding-top: 30px;
      padding-left: 30px;
    }

    @media screen and (max-width: 1023px) {
      padding-top: 20px;
      padding-left: 20px;
      padding-right: 10px;
      width: 38%;
    }

    @media screen and (max-width: 767px) {
      width: 100%;
      height: 280px;
    }
  }

  &__card-right {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    flex-grow: 1;
    background-color: #fff;
    position: relative;
    overflow: hidden;

    @media screen and (max-width: 1023px) {
      flex-grow: unset;
      width: 62%;
    }

    @media screen and (max-width: 767px) {
      width: 100%;
      height: unset;
      flex-grow: 1;
    }
  }

  &__card-background {
    display: block;
    position: absolute;
    left: -86%;
    top: -101%;
    width: 1400px;
    height: 1400px;
    background-repeat: no-repeat;
    animation: backgroundRotation 80s infinite linear;

    @media screen and (max-width: 1439px) {
      left: -105%;
      top: -109%;
    }

    @media screen and (max-width: 767px) {
      left: -126%;
      top: -99%;
    }
  }

  &__card-wrapper {
    position: relative;
    z-index: 3;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &__choose {
    font-weight: 500;
    font-size: 24px;
    line-height: 30px;
    margin: 0 0 20px;
    display: none;

    @media screen and (max-width: 1439px) {
      font-size: 20px;
    }

    @media screen and (max-width: 1023px) {
      font-size: 18px;
      text-align: center;
      line-height: 20px;
    }

    @media screen and (max-width: 767px) {
      font-size: 16px;
      margin-bottom: 26px;
    }

    &_active {
      display: block;
    }
  }

  &__check {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    margin-bottom: 59px;

    @media screen and (max-width: 1439px) {
      margin-bottom: 30px;
    }
  }

  &__checkbox {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 52px;
    height: 52px;
    box-sizing: border-box;
    border: 3px solid #000000;
    border-radius: 5px;

    @media screen and (max-width: 1023px) {
      width: 44px;
      height: 44px;
    }

    @media screen and (max-width: 767px) {
      width: 29px;
      height: 29px;

    }
  }

  &__checkmark {
    width: 24px;
    height: 24px;
    background: url(../assets/images/checkmark.svg) no-repeat center / contain;
    opacity: .25;

    @media screen and (max-width: 767px) {
      width: 13px;
      height: 13px;
    }

    &_checked {
      opacity: 1;
    }
  }

  &__dashed-line {
    display: block;
    width: 53px;
    height: 1px;
    border-bottom: 3px dashed #000000;

    @media screen and (max-width: 1023px) {
      width: 27px;
    }
  }

  &__fieldset {
    width: 413px;

    @media screen and (max-width: 1023px) {
      width: 95%;
    }
  }

  &__card-content {
    width: 100%;
    row-gap: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    @media screen and (max-width: 1023px) {
      width: 100%;
      justify-content: center;
      column-gap: 10px;
      row-gap: 10px;
    }
  }

  &__card-item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 197px;
    height: 52px;
    background: #000000;
    border-radius: 5px;
    color: #fff;
    box-sizing: border-box;
    border: 2px solid #000;
    transition: all .4s ease;

    @media screen and (max-width: 1023px) {
      width: 190px;
      height: 40px;
    }

    @media screen and (max-width: 767px) {
      width: 100%;
      height: 45px;
    }

    &:hover {
      border-color: #fff;
    }

    &_active {
      background-color: #fff;
      color: #000;
      border-color: #000;
    }
  }

  &__nav-buttons {
    width: 413px;
    height: 52px;
    margin-top: 30px;
    display: flex;
    justify-content: space-between;

    @media screen and (max-width: 1023px) {
      width: 95%;
      height: 40px;
    }

    @media screen and (max-width: 767px) {
      margin-top: 10px;
      height: 45px;
    }
  }

  &__back {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15%;
    background: #000;
    border-radius: 5px;
    position: relative;
    box-sizing: border-box;
    border: 2px solid #000;
    transition: all .4s ease;

    &:hover {
      border-color: #fff;
    }

    &::after {
      content: '';
      display: block;
      background: url(../assets/images/white-arrow.svg) no-repeat center / contain;
      width: 25px;
      height: 25px;
    }
  }

  &__next {
    width: 82%;
    background-color: #000;
    border-radius: 5px;
    color: #fff;
    box-sizing: border-box;
    border: 2px solid #000;
    transition: all .4s ease;

    &:hover {
      border-color: #fff;
    }
  }

  &__card-item-big {
    width: 116px;
    height: 116px;
    background: #000000;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    border: 3px solid #000;
    transition: all .4s ease;

    @media screen and (max-width: 1023px) {
      width: 80px;
      height: 80px;
    }

    @media screen and (max-width: 767px) {
      width: unset;
      flex-grow: 1;
    }

    &:hover {
      border-color: #fff;
    }

    &_active {
      border-radius: 20%;
      border-color: #fff;
      transform: translateY(-10px);

      @media screen and (max-width: 767px) {
        border-radius: 15%;
      }
    }
  }

  &__icon-img {
    width: 54px;
    height: 54px;
    display: block;

    @media screen and (max-width: 1023px) {
      width: 45px;
      height: 45px;
    }
  }

  &__input {
    margin-bottom: 20px;

    @media screen and (max-width: 1023px) {
      margin-bottom: 10px;
    }

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  &__textarea {
    padding-top: 20px;
    font-weight: 250;
    font-size: 14px;
    line-height: 130%;
    color: #fff;
    min-height: 194px;
    padding-right: 26px;
    resize: none;

    @media screen and (max-width: 1023px) {
      min-height: 125px;
      padding: 10px 10px 0 10px;
    }

    @media screen and (max-width: 767px) {
      min-height: 174px;
      padding: 14px 14px 0 14px;
    }

    &::-webkit-scrollbar {
      display: none;
    }
  }


  &__complete {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000000;
    border: 3px solid #000000;
    z-index: 5;
    color: #fff;
    padding: 41px 52px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    transform: translate(100%);
    transition: all 1s ease;

    @media screen and (max-width: 1023px) {
      padding: 30px 20px;
    }

    @media screen and (max-width: 767px) {
      flex-direction: column;
    }

    &_active {
      transform: translate(0);
    }
  }

  &__complete-left {
    width: 413px;
    display: flex;
    flex-direction: column;

    @media screen and (max-width: 1023px) {
      width: 342px;
    }

    @media screen and (max-width: 767px) {
      width: 100%;
      flex-grow: 1;
    }
  }

  &__complete-discount {
    font-weight: 500;
    text-decoration: underline;
  }

  &__complete-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 52px;
    background: #FFFFFF;
    border-radius: 5px;
    color: #000;
    margin-top: auto;
    box-sizing: border-box;
    border: 1px solid #fff;
    transition: all .4s ease;

    @media screen and (max-width: 1023px) {
      height: 45px;
    }

    @media screen and (max-width: 767px) {
      margin-top: auto;
      margin-bottom: 25px;
    }

    &:hover {
      color: #fff;
      background-color: #000;
    }
  }

  &__complete-logo {
    @media screen and (max-width: 767px) {
      width: 100%;
    }
  }
}