.wrapper {
  width: var(--content-width);
  margin: 174px auto 121px;
  min-height: 40vh;

  @media screen and (max-width: 1439px) {
    margin-top: 150px;
    margin-bottom: 120px;
  }

  @media screen and (max-width: 1023px) {
    margin-top: 90px;
    margin-bottom: 108px;
  }

  @media screen and (max-width: 767px) {
    margin-top: 35px;
    margin-bottom: 50px;
  }
}